<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Minna Minni ©2023 - Messages</title>
    <link href="/static/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <script src="/static/htmx.min.js" type="application/javascript"></script>
</head>

<body>
    {{ template "headerHTML" . }}
    <main class="my-2">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <img src="/static/images/molay3.jpg" alt="" class="img-fluid" />
                </div>
                <div class="col-md-9">
                    <h2 class="mt-2">Minna Minni ©2023 - Send Message</h2>
                    {{if ne .User.ID 0}}
                    <div class="bg-info-subtle col-md-3 px-2 my-1 py-1">
                        Welcome {{.User.Name}} !!

                    </div>
                    {{end}}
                    <p class="mt-3">
                        Best place to find your match, no hassle of membership or paymen
                        Place your ad and wait for the calls to come in!
                    </p>
                    <a href="/ads.html" class="btn btn-success"> Place your Ads now!!</a>
                </div>
            </div>

            <div class="row my-5">
                <section style="background-color: #eee;">
                    <div class="container py-2">
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-4 col-lg-6 col-xl-4">
                                <div class="card" id="chat1" style="border-radius: 15px;">
                                    <div class="card-header d-flex justify-content-between align-items-center p-3 bg-info text-white border-bottom-0"
                                        style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
                                        <i class="fas fa-angle-left"></i>
                                        <p class="mb-0 fw-bold">Messages</p>
                                        <i class="fas fa-times"></i>
                                    </div>
                                    <div class="card-body">
                                        {{ range .AdMessagesMap.AdMessages }}
                                        {{ block "admsgs-list-element" .}}
                                        <div class="d-flex flex-row justify-content-start mb-4">
                                            <label class="form-label small mb-0">User: {{.FromUser }}</label>
                                            <div class="p-3 ms-3"
                                                style="border-radius: 15px; background-color: rgba(57, 192, 237,.2);">
                                                <p class="small mb-0">{{.Message}}
                                                </p>
                                            </div>
                                        </div>
                                        {{end}}
                                        {{end}}
                                        <form hx-post="/users/sendmessage" hx-target="this" class="was-validated">
                                            <div class="form-outline">
                                                <input type="hidden" id="to-id" name="toUser" value='{{.ToUser}}'>
                                                <textarea class="form-control" id="message" name="Message" rows="4"
                                                    required></textarea>
                                            </div>
                                            <div>
                                                <div class="form-group mb-2 my-2">
                                                    <button class="btn btn-primary btn-sm"
                                                        hx-indicator="#loading3">Send</button>
                                                    <img id="loading3" class="htmx-indicator"
                                                        src="/static/images/load.gif" />
                                                </div>
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </section>

            </div>
        </div>
    </main>
    <div class="container">
        {{ template "footerHTML" . }}
    </div>
    <script src="/static/bootstrap.bundle.min.js" type="application/javascript"></script>
</body>

</html>