<div class="form-group">
    <div class="col-md-12 bg-danger text-bg-danger" id="sentresult"></div>
    <form hx-post="/users/sendmessage" hx-target="this" class="was-validated">
        <label for="message-descripion" class="form-label">You are contacting <b>AD-{{.ID}}</b> Ad: {{.ad}}</label>
        <input type="hidden" id="ad-id" name="ad-id" value='{{.ID}}'>
        <input type="hidden" id="ad-description" name="ad-description" value='{{.ad}}'>
        <textarea class="form-control" id="message-descripion" rows="3" name="Message" required></textarea>
        <div class="form-group mb-2 my-2">
            <button class="btn btn-primary btn-sm" hx-indicator="#loading3">Send</button>
            <img id="loading3" class="htmx-indicator" src="/static/images/load.gif" />
        </div>
    </form>
</div>