<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MinnaMinni - Contact Us</title>
    <link href="/static/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <script src="/static/htmx.min.js" type="application/javascript"></script>
</head>

<body>
    {{ template "headerHTML" . }}
    <main class="my-2">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <img src="/static/images/contactus.jpg" alt="" class="img-fluid" />
                </div>
                <div class="col-md-9">
                    <h2 class="mt-2">Contact Minna Minni ©2023</h2>
                    <p class="mt-3">
                        Best place to find your match, no hassle of membership, pay only once!
                        Place your ad and wait for the calls to come in!
                    </p>
                    <a href="/ads.html" class="btn btn-success"> Place your Ads now!!</a>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row justify-content-lg-start my-2">
                    <div class="col-md-9">
                        <div class="col-md-9 bg-info-subtle" id="sentresult">
                           
                        </div>
                        <form hx-post="/messages" hx-target="#sentresult" class="was-validated">
                            <div class="my-2">
                                <label for="email" class="form-label">Email:</label>
                                <input name="Email" type="email" id="email" placeholder="my@email.com" class="form-control"
                                    required />
                                <div class="invalid-feedback">Please enter your email.</div>
                            </div>
                            <div class="my-2">
                                <label for="name" class="form-label">Name:</label>
                                <input type="text" name="Name" id="name" placeholder="e.g. Dawid" class="form-control" required />
                                <div class="invalid-feedback">Please enter your full name.</div>
                            </div>
                            <label for="subject" class="form=label">Subject</label>
                            <select name="Subject" id="subject" class="form-select">
                                <option value="general" selected>General</option>
                                <option value="technical">Technical</option>
                                <option value="report">Report Ads</option>
                                <option value="other">Other</option>
                            </select>

                            <div class="my-2">
                                <label for="message">Message</label>
                                <textarea name="Message" id="message" style="height: 150px" class="form-control"
                                    placeholder="Write a message" minlength="4" maxlength="355" required></textarea>
                                <div class="invalid-feedback">Please enter your message!</div>
                            </div>

                            <div class="text-center my-2">
                                <button type="submit" class="btn btn-primary">Send!</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div class="container">
        {{ template "footerHTML" . }}
    </div>
    <script src="/static/bootstrap.bundle.min.js" type="application/javascript"></script>
</body>

</html>