<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Minna Minni ©2023 - My Ad Metrics</title>
    <link href="/static/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <!-- <link href="/static/inbox.css" rel="stylesheet"> -->

    <script src="/static/htmx.min.js" type="application/javascript"></script>
</head>

<body>
    {{ template "headerHTML" . }}
    <main class="my-2">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <img src="/static/images/molay3.jpg" alt="" class="img-fluid" />
                </div>
                <div class="col-md-9">
                    <h2 class="mt-2">Minna Minni ©2023 - My Ad Messages</h2>
                    {{if ne .User.ID 0}}
                    <div class="bg-info-subtle col-md-3 px-2 my-1 py-1">
                        Welcome {{.User.Name}} !!

                    </div>
                    {{end}}
                    <p class="mt-3">
                        Best place to find your match, no hassle of membership or paymen
                        Place your ad and wait for the calls to come in!
                    </p>
                    <a href="/ads.html" class="btn btn-success"> Place your Ads now!!</a>
                </div>
            </div>

            <div class="row my-5">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body bg-black text-white mailbox-widget pb-0">
                            <h2 class="pb-2">My Ad Messages</h2>
                            <nav>
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <a class="nav-link active" id="inbox-tab" data-bs-toggle="tab" href="#inbox"
                                        role="tab" aria-controls="inbox-tab" aria-selected="true">Inbox</a>
                                    <a class="nav-link" id="sent-tab" data-bs-toggle="tab" href="#sent"
                                        role="tab" aria-controls="sent-tab" aria-selected="false">Sent</a>

                                </div>
                            </nav>
                        </div>
                        <div class="tab-content" id="messageTabContent">
                            <div class="tab-pane fade active show" id="inbox" aria-labelledby="inbox-tab"
                                role="tabpanel">
                                <div>
                                    <div class="row p-4 no-gutters align-items-center">
                                        <div class="col-sm-12 col-md-6">
                                            <h3 class="font-light mb-0">12 Unread emails
                                            </h3>
                                        </div>
                                        <div class="col-sm-12 col-md-6">
                                            <ul class="list-inline dl mb-0 float-left float-md-right">
                                                <li class="list-inline-item text-danger">
                                                    <a href="#">
                                                        <button class="btn btn-circle btn-danger text-white" href="#">

                                                        </button>
                                                        <span class="ml-2 font-normal text-dark">Delete</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- Mail list-->
                                    <div class="table-responsive">
                                        <table class="table email-table no-wrap table-hover v-middle mb-0 font-12">
                                            <tbody>
                                                <!-- row -->
                                                <tr>
                                                    <!-- label -->
                                                    <td class="p-lg-1">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input"
                                                                id="cst1" />
                                                            <label class="custom-control-label"
                                                                for="cst1">&nbsp;</label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <span class="mb-0 text-muted">Hritik Roshan</span>
                                                    </td>
                                                    <!-- Message -->
                                                    <td>
                                                        <a class="link" href="#">
                                                            <span class="text-dark">Lorem ipsum perspiciatis-</span>
                                                        </a>
                                                    </td>
                                    
                                                    <!-- Time -->
                                                    <td class="text-muted">May 13</td>
                                                </tr>
                                                <!-- row -->
                                                <tr>
                                                    <!-- label -->
                                                    <td class="p-lg-1">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input"
                                                                id="cst2" />
                                                            <label class="custom-control-label"
                                                                for="cst2">&nbsp;</label>
                                                        </div>
                                                    </td>
                                                    <!-- star -->
                                                    <!-- User -->
                                                    <td>
                                                        <span class="mb-0 text-muted">Genelia Roshan</span>
                                                    </td>
                                                    <!-- Message -->
                                                    <td>
                                                        <a class="link" href="javascript: void(0)">

                                                            <span class="text-dark">Inquiry about license for Admin
                                                            </span>
                                                        </a>
                                                    </td>
                                                    <!-- Time -->
                                                    <td class="text-muted">May 13</td>
                                                </tr>
                                                <!-- row -->
                                                <tr>
                                                    <!-- label -->
                                                    <td class="pl-3">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input"
                                                                id="cst3" />
                                                            <label class="custom-control-label"
                                                                for="cst3">&nbsp;</label>
                                                        </div>
                                                    </td>


                                                    <!-- User -->
                                                    <td class="user-name max-texts">
                                                        <span class="mb-0 text-muted font-light">Ritesh Deshmukh</span>
                                                    </td>
                                                    <!-- Message -->
                                                    <td>
                                                        <a class="link" href="javascript: void(0)">
                                                            <span class="font-light text-dark">Bitbucket (commit Pushed)
                                                                by Ritesh</span>
                                                        </a>
                                                    </td>

                                                    <!-- Time -->
                                                    <td class="text-muted font-light">May 13</td>
                                                </tr>
                                                <!-- row -->

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="sent" aria-labelledby="sent-tab" role="tabpanel">
                                <div>
                                    <div class="row p-4 no-gutters align-items-center">
                                        <div class="col-sm-12 col-md-6">
                                            <h3 class="font-light mb-0">3 Sent emails
                                            </h3>
                                        </div>
                                        <div class="col-sm-12 col-md-6">
                                            <ul class="list-inline dl mb-0 float-left float-md-right">
                                                <li class="list-inline-item text-danger">
                                                    <a href="#">
                                                        <button class="btn btn-circle btn-danger text-white"
                                                            href="#">

                                                        </button>
                                                        <span class="ml-2 font-normal text-dark">Delete</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- Mail list-->
                                    <div class="table-responsive">
                                        <table class="table email-table no-wrap table-hover v-middle mb-0 font-12">
                                            <tbody>
                                                <!-- row -->
                                                <tr>
                                                    <!-- label -->
                                                    <td class="pl-3">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input"
                                                                id="cst1" />
                                                            <label class="custom-control-label"
                                                                for="cst1">&nbsp;</label>
                                                        </div>
                                                    </td>
                                                    <!-- star -->

                                                    <td>
                                                        <span class="mb-0 text-muted">Sent Hritik Roshan</span>
                                                    </td>
                                                    <!-- Message -->
                                                    <td>
                                                        <a class="link" href="javascript: void(0)">
                                                            <span class="text-dark">Sent Lorem ipsum
                                                                perspiciatis-</span>
                                                        </a>
                                                    </td>
                                                    <!-- Attachment -->
                                                    <!-- Time -->
                                                    <td class="text-muted">May 13</td>
                                                </tr>
                                                <!-- row -->
                                                <tr>
                                                    <!-- label -->
                                                    <td class="pl-3">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input"
                                                                id="cst2" />
                                                            <label class="custom-control-label"
                                                                for="cst2">&nbsp;</label>
                                                        </div>
                                                    </td>
                                                    <!-- star -->
                                                    <!-- User -->
                                                    <td>
                                                        <span class="mb-0 text-muted">Sent Genelia Roshan</span>
                                                    </td>
                                                    <!-- Message -->
                                                    <td>
                                                        <a class="link" href="javascript: void(0)">

                                                            <span class="text-dark">Sent Inquiry about license for Admin
                                                            </span>
                                                        </a>
                                                    </td>
                                                    <!-- Time -->
                                                    <td class="text-muted">May 13</td>
                                                </tr>
                                                <!-- row -->
                                                <tr>
                                                    <!-- label -->
                                                    <td class="pl-3">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input"
                                                                id="cst3" />
                                                            <label class="custom-control-label"
                                                                for="cst3">&nbsp;</label>
                                                        </div>
                                                    </td>


                                                    <!-- User -->
                                                    <td class="user-name max-texts">
                                                        <span class="mb-0 text-muted font-light">Sent Ritesh
                                                            Deshmukh</span>
                                                    </td>
                                                    <!-- Message -->
                                                    <td>
                                                        <a class="link" href="javascript: void(0)">
                                                            <span class="font-light text-dark">Sent Bitbucket (commit
                                                                Pushed)
                                                                by Ritesh</span>
                                                        </a>
                                                    </td>

                                                    <!-- Time -->
                                                    <td class="text-muted font-light">May 13</td>
                                                </tr>
                                                <!-- row -->

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row my-5">
                <div class="bg-dark-subtle text-bg-primarys">
                    My Ads

                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Ad #</th>
                            <th scope="col">Ad Description</th>
                            <th scope="col">Date Posted</th>
                            <th scope="col">Section</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ range .AdMap.Ads }}
                        {{ block "ads-list-element" .}}
                        <tr>
                            <th scope="row">{{.ID}}</th>
                            <td>{{.Description}}</td>
                            <td>{{.UpdatedAt}}</td>
                            <td>{{.Section}}</td>
                        </tr>
                        {{end}}
                        {{end}}
                    </tbody>
                </table>
            </div>
        </div>
    </main>
    <div class="container">
        {{ template "footerHTML" . }}
    </div>
    <script src="/static/bootstrap.bundle.min.js" type="application/javascript"></script>
</body>

</html>