<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Minna Minni - Login or Register</title>
    <link href="/static/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <script src="/static/htmx.min.js" type="application/javascript"></script>
</head>

<body>
    {{ template "headerHTML" . }}
    <main class="my-2">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <img src="/static/images/molay3.jpg" alt="" class="img-fluid" />
                </div>
                <div class="col-md-9">
                    <h2 class="mt-2">Register with Minna Minni ©2023</h2>
                    <p class="mt-3">
                        Best place to find your match, no hassle of membership or payment, secure, anonymous.
                    </p>

                    
                </div>
            </div>
            <div class="container my-3 bg-dark-subtle">
                <form hx-post="/users" hx-target="this" hx-swap="innerHTML" class="was-validated">
                    <div class="row g-3">
                        <div>
                            <h2 class="text-center text-bg-dark">Register As Bride, Groom or Third Party Agents</h2>
                        </div>
                        <div class="col-sm-12">
                            <p class="text-start">Enter the prospective grooms or brides details. All ads will be
                                subject to review.
                                Any misrepresentation will be reported to the authorities. We log all IPs and other
                                details to prevent misuse of the service.
                                Please note that you agree to the terms and conditions upon submitting an ad to this
                                site.
                            </p>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label for="name-full" class="form-label">Full Name</label>
                            <input type="text" class="form-control" name="Name" id="name-full"
                                placeholder="Enter your full name." minlength="3" maxlength="50" required>
                            <div class="invalid-feedback">Please enter your full name.</div>
                        </div>
                        <div class="col-sm-6 form-group" hx-target="this" hx-swap="outerHTML">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" name="Email" id="email" hx-post="/validatemail"
                                hx-indicator="#ind" placeholder="Enter your email." required>
                            <img id="ind" src="/static/images/load.gif" class="htmx-indicator" />
                        </div>

                        <div class="col-sm-6 form-group">
                            <label for="password2" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password2" name="Password" value=""
                                required>
                            <div class="invalid-feedback">Please enter a password. </div>

                            <input type="checkbox" class="form-check-inline" hx-on:click="document.querySelector('input[id=password2]').setAttribute('type',
                                document.querySelector('input[id=password2]').getAttribute('type')=='password' ?
                                'text' : 'password')">Show Password</input>
                        </div>

                        <div class="col-sm-9 form-group">
                            <label for="role" class="form-label">Register As</label>
                            <select class="form-control browser-default custom-select" name="Role">
                                <option value="user" selected>Bride or Groom
                                </option>
                                <option value="broker">Broker Agent or Third Party</option>
                            </select>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label for="message" class="form-label">Phone</label>
                            <input type="tel" name="Message" class="form-control" id="message"
                                placeholder="Enter Your Contact Number.">
                        </div>
                        <div class="col-sm-12">
                            <input type="checkbox" class="form-check d-inline" name="terms" id="chb" required><label
                                for="chb" class="form-check-label">&nbsp;I accept all terms and conditions.
                            </label>
                        </div>
                        <div class="col-sm-12 form-group mb-2 my-2">
                            <button class="btn btn-primary float-right" hx-indicator="#loading2">Submit</button>
                            <img id="loading2" class="htmx-indicator" src="/static/images/load.gif" />
                        </div>
                    </div>
                </form>
                <div id="registerresult" class="bg-info">

                </div>
            </div>
        </div>

    </main>
    <div class="container">
        {{ template "footerHTML" . }}
    </div>
    <script src="/static/bootstrap.bundle.min.js" type="application/javascript"></script>
</body>

</html>